*{
    margin: 0;
    padding: 0;
}

/*Aplicando variables Sass*/
@import './variables';
/*Aplicando e importando componentes Sass*/
@import './component/carousel';
@import './component/menu'; /*Dentro de este componente usé Nesting y selector &*/
@import './component/accesorios';
@import './component/navbar';
@import './component/joyeria';
@import './component/buzos';
@import './component/zapatos';
@import './component/indexSection';
@import './component/_footer';
@import './component/grids';
@import './component/mediaQueries';


.bs-body-bg{
    background-color: rgb(227, 222, 245);
}










