/*Clases Joyería*/

.imagenesJoyeria{
    
    display: inline;
    width: 300px;
    height: 300px;
    margin: 10px 30px;
    border: solid;
    color: rgb(44, 3, 71);
    object-fit: cover;
}

.parrafosJoyeria p{
    margin: 10px 30px;
}