/* Aplicando media query */

@media screen and (max-width: 946px) {


    .imagenCarruselJoyeria{
        width:100%;
        max-width:100%;

    } 

    .imagenCarruselAccesorios{
        width:100%;
        max-width:400px;
    }
    
    
    .imagenCarruselZapatos{
        width:100%;
        max-width:400px;
    }
    
    .imagenCarruselBuzos{
        width:100%;
        max-width:400px;
    }

    .mapaTiendaFisica{
        width:100%;
        max-width:100%;

    } 
    .clientesFelices {

        width:100%;
        max-width:400px;
    } 
    .listaMetodosPago {

        width:100%;
        max-width:400px;
    }
    
    .imagenesAccesorios{

        width:100%;
        max-width:400px;
    }

}

/* Fin media query */